.varieties {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.beans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.breakFast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.readyToGo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.varietiesCardHeader img {
  height: 110px;
}
.varietiesCardBody p {
  font-size: 15px;
}
.varietiesCardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.varietiesCardBody h3 {
  font-size: 20px;
}
