.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Merienda", cursive;
  font-size: 35px;
}
.heading h2 {
  padding-bottom: 1em;
}
.heading img {
  height: 45px;
}
.facilityBody {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Nunito", sans-serif;
  text-align: center;
  gap: 1em;
  line-height: 2;
}
